/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl !important;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f8f9fa; /* Set your desired background color */
  color: #fff; /* White text for colored backgrounds */
  direction: rtl !important;
}

/* Header Styles */
header {
  background-color: #007BFF; /* Header background color */
  text-align: center;
  padding: 1rem;
}

header h1 {
  /*font-size: 2rem;*/
  font-weight: bold;
}


nav {
  margin-top:  20px;
}

nav a {
  color: #fff; /* Navigation link color */
  text-decoration: none;
  margin:  20px;
  font-size: 1rem;
  font-weight: bold;
}

/* Section Styles */
/*make the sections to be side by side on web (columns-like), and one after one on mobile*/
section {
  background-color: #fff; /* Section background color */
  color: #333; /* Text color inside sections */
  padding: 1.5rem;
  margin: 1rem;
  direction: rtl !important;
  text-align: right;
/*!*  as two columns of sections when possible - 50% width on web, 100% on mobile*!*/
/*    @media (max-width: 768px) {*/
/*      width: 88%;*/
/*    }*/
/*    width: 47%;*/
/*two sections in a row*/
/*    float: right;*/


}

section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007BFF; /* Section title color */
}

section p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 10px 0;
  direction: rtl !important;
}

.whatsappButton {
    border-radius: 50%;
    border: none;
}

/* Responsive Styling */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }

  header h1 {
    font-size: 1.4rem;
  }

  nav a {
    font-size: 0.9rem;
  }

  section h2 {
    font-size: 1.2rem;
  }

  section p {
    font-size: 0.9rem;
  }

}

/*#about, #services {*/
/*!*  make them the same height*!*/
/*    height: 180px;*/
/*}*/

/*#beliefs, #background {*/
/*  !*  make them the same height*!*/
/*  height: 290px;*/
/*}*/

/*#education, #contact {*/
/*  !*  make them the same height*!*/
/*  height: 170px;*/
/*}*/